* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/background.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}
.logo {
  width: 50px;
  cursor: pointer;
}
.head {
  text-decoration: none;
}
.menu-icon {
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
}

nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
.row {
  display: flex;
  height: 88%;
  align-items: center;
}
.col {
  flex-basis: 50%;
}
h1 {
  color: #fff;
  font-size: 100px;
}
p {
  color: #fff;
  font-size: 11px;
  line-height: 15px;
}
button {
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background-size: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  transition: transform 0.5s;
}
button:hover {
  transform: translateY(-10px);
}
.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(images/girl.jpg);
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
.card2 {
  background-image: url(images/image-10.jpg);
}
.card3 {
  background-image: url(images/image-15.jpg);
}
.card4 {
  background-image: url(images/smile.jpg);
}
.card:hover {
  transform: translateY(-10px);
}
h5 {
  color: #fff;
  text-shadow: 0 0 5px #999;
}
.card p {
  text-shadow: 0 0 15px #000;
  font-size: 8px;
}

.small-container {
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: hotpink;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
/* border: hidden;
  margin-top: 20px;
  padding: 20px;
  padding-top: 10px;
  background-color: lightpink;
  border-radius: 20px;
  border-width: medium;*/
/* } */
/*footer*/

.footer {
  margin-top: 150px;
  width: 100%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
  display: flex;
}
.footer div {
  text-align: center;
}
.col-2 {
  flex-grow: 2;
}
.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
form input {
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}
form button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}
.social-icons {
  margin-top: 20px;
}
.social-icons i {
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}
.footer-col-4 {
  flex-basis: 12%;

  text-align: center;
}

ul {
  list-style-type: none;
}
li {
  color: white;
}

.footer hr {
  border: none;

  background: black;

  height: 1px;

  margin: 20px 0;
}

.Copyright {
  text-align: center;
}

/*aboutpage*/

.About body {
  min-height: 100px;

  display: flex;

  align-items: center;

  justify-content: center;
}

.About h1 {
  margin-right: 10px;
  text-align: center;
}

.picture img {
  width: 18%;

  margin-right: 40px;
}

.text {
  font-size: 40px;

  color: #fff;

  line-height: 30px;

  text-align: center;

  text-align: justify;

  margin-bottom: 40px;
}

.text p {
  color: white;
}

.skills button {
  font-size: 22px;

  text-align: center;

  letter-spacing: 2px;

  border: none;

  border-radius: 20px;

  padding: 8px;

  width: 200px;

  background-color: pink;

  color: white;

  cursor: pointer;
}

.skills button:hover {
  transition: 0.5s;

  background-color: black;

  color: pink;
}

/*contactpage*/

fieldset {
  padding: 15px;

  padding-top: 20px;

  margin: center;

  align-items: center;

  width: 40%;

  background-color: lightgrey;
}

.shift-right {
  float: left;
}

.shift-right {
  float: right;
}

.cinput:hover {
  background-color: white;
}

.btn:hover {
  display: inline-block;

  padding: 8px 30px;

  margin: 30px 0;

  border-radius: 30px;

  transition: 0.5s;

  background-color: #fff;

  color: black;
}
